html {
  scroll-behavior: smooth;
}

body {
  background: #23272A;
  width: 100%;
  z-index: 9000;
}

/*Navbar*/

.navbar {
  background: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 9999;
}

.side-div {
  background: rgba(0, 0, 0, 0.2) !important;
}

.side-nav {
  background: white;
  border-radius: 0;
  border-width: 0;
}

.menu-title {
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  margin: 0;
  color: transparent;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.menu-title.scroll {
  color: white;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.menu {
  color: white;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.menu.scroll {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  background: rgba(0, 0, 0, 0.4);
}

.nav-link {
  color: #23272A !important;
  font-family: 'Roboto', sans-serif !important;
}

.nav-link:hover {
  color: #7289DA !important;
}

.nav-icon {
  color: #23272A !important;
}


/*Cover*/

#cover-title {
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  line-height: 0.2;
}

#cover-subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.cover {
  position: absolute;
  color: white;
  top: 50vh;
  transform: translateY(-50%);
}

.background {
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  overflow: hidden;
}


/*Link Styling*/

a,
a:visited,
a:active {
  text-decoration: none !important;
  color: white;
}


/*Body Styling*/

#home {
  height: 100vh;
}

#stars-container {
  overflow: hidden;
  height: 100vh;
}

#aboutme,
#projects,
#hackathons {
  max-height: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  overflow: hidden;
}

#contact {
  max-height: auto;
  padding-top: 15vh;
  overflow: hidden;
}

#projects,
#contact {
  background: white;
}

#aboutme,
#hackathons,
.sidebarbk {
  background: #2C2F33;
}

.padding-left {
  padding-left: 24px;
}

.row {
  transform: translateX(-10.5px)
}

.title-divider {
  margin-bottom: 32px;
  height: 1px;
  background: #7289DA;
  width: 100vw;
}


/*Scroll Icon*/


/*https://codepen.io/JonasNoldeDev/pen/BKMXwV*/

.scroll-section {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translateX(-50%);
  cursor: pointer;
}

@keyframes scroll_1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.6em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.6em);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .8em;
  height: 1em;
  width: .15em;
  margin-left: -.075em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3.5em;
  width: 2em;
  border: .15em solid #fff;
  border-radius: 2em;
}


/*Slide In Animation*/

.slide-animation {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


/*Text Formatting/Styling*/

.sub-title {
  color: #7289DA;
  font-size: 24px;
}

.text-light {
  color: #99AAB5;
  font-size: 16px;
}

a {
  color: white;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  text-decoration: none !important;
  outline: 0 !important;
}

a:hover {
  color: #7289DA;
}

.title-light {
  color: white;
  font-size: 40px;
}

.title-dark {
  color: #2C2F33;
  font-size: 40px;
}

.icon-light {
  font-size: 100px !important;
  text-align: center;
  color: white;
}


/*Modals*/

.modal-content {
  box-shadow: none !important;
  border: none !important;
}

.modal-content .title-dark {
  font-size: 24px;
}

.modal-content p a {
  color: #7289DA;
}

.modal-content p a:hover {
  color: #2C2F33;
}


/*Project Page Styling*/

.project {
  background: #2C2F33;
}

.card-reveal {
  background: #2C2F33 !important;
}

.card-title {
  color: white !important;
}

.card-content p a {
  color: #7289DA !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-content p a:hover {
  color: #2C2F33 !important;
}

#project1-bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/project1/bk.jpg');
  background-position: center;
  height: 256px;
}

#project1-logo {
  padding-top: 48px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 350px;
}

#project2-bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/project2/bk.jpg');
  background-position: bottom;
  height: 256px;
}

#project2-logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 38px;
  color: white;
  padding-top: 100px;
  margin: 0;
}


/*Hackathons Page Styling*/

.hackathon {
  color: white;
  position: relative;
  margin-bottom: 42px;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  background: #7289DA;
}

.card-action>a {
  color: white !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-action>a:hover {
  color: #2C2F33 !important;
}

.date {
  color: #2C2F33 !important;
}

#hackbcaiv-bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/hackathons/hackbcaiv/bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
}

#hackbcaiv-logo {
  width: 128px !important;
  padding-top: 64px;
  margin-left: 50%;
  transform: translate(-50%);
}


/*Contacts Page Styling*/

.contact {
  background: #2C2F33;
  width: 85%;
  max-width: 320px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-content {
  width: auto;
  height: auto;
  padding: 0px 20px 25px 20px;
  display: block;
  float: none;
}

.bio {
  padding-top: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.avatar {
  width: 128px !important;
  border-radius: 100% !important;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ari {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #7289DA !important;
  padding-top: 20px;
}

.blurb {
  color: white !important;
  max-width: 215px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.blurb,
.contact-email,
.ari {
  text-align: center !important;
}

.contact-email {
  color: #99AAB5 !important;
  position: relative;
  padding-bottom: 16px;
}

.social {
  width: 128px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.social li {
  list-style: none;
  box-sizing: border-box;
  float: left;
  width: 25%;
}

.social li a img {
  height: 24px;
  width: 24px;
}


/*Footer Styling*/

.footer {
  height: 12vh;
  padding-top: 24px;
  background: white;
}

.footer-text {
  font-size: 14px;
  font-family: 'Roboto:400', sans-serif !important;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #2C2F33;
}

.parrot {
  width: 14px;
  height: 10px;
}