html {
  scroll-behavior: smooth;
}

.navbar {
  background: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 9999;
}

body {
  background: black;
  width: 100%;
  z-index: 9000;
}


/*Header Styling*/

.head {
  padding-left: 30px;
}

#home {
  z-index: 9999;
}

.header_title {
  color: white;
  font-family: 'Roboto', sans-serif;
  top: 50%;
  font-size: 32px;
  position: absolute;
}

.logo {
  top: 40%;
  max-height: 64px;
  max-width: 230px;
  position: absolute;
}

.hamburger {
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hamburger.scroll {
  color: #99AAB5;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hamburger:hover {
  color: #7289DA;
}

.background {
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  overflow: hidden;
}

/*Link Styling*/

a, a:visited, a:active {
  text-decoration: none !important;
  color: white;
}

.sideLink {
  color: #23272A !important;
  font-family: 'Roboto', sans-serif !important;
}

.sideLink:hover {
  color: #7289DA !important;
}

.side_icon {
  color: #23272A!important;
}

.divider {
  background: #23272A;
}


/*Body Styling*/

#home {
  height: 100vh;
}

#aboutme, #projects, #hackathons {
  max-height: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  min-height: 100vh;
  overflow: hidden;
}

#contact {
  max-height: auto;
  padding-top: 15vh;
  min-height: 90vh;
  overflow: hidden;
}

#projects, #contact {
  background: white;
}

#aboutme, #hackathons, .sidebarbk {
  background: #2C2F33;
}

.side-nav {
  background: white;
  border-radius: 0;
  border-width: 0;
}

.headDivider {
  margin-bottom: 32px;
  height: 1px;
  background: #7289DA;
}

.headDivider {
  width: 64px;
}

.contentDivider {
  width: 50%;
  margin-left: 25%;
}

/*Scroll Icon*/
/*https://codepen.io/JonasNoldeDev/pen/BKMXwV*/

.scroll-section {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 90%;
  -webkit-transform: translateX(-50%);
  cursor: pointer;
}

@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .8em;
  height: 1em;
  width: .15em;
  margin-left: -.075em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3.5em;
  width: 2em;
  border: .15em solid #fff;
  border-radius: 2em;
}


/*Slide In Animation*/

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


/*Text Formatting/Styling*/

.header1 {
  color: #7289DA;
}

.text_light {
  color: #99AAB5;
  font-size: 16px;
}

a {
  color: white;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  text-decoration: none !important;
  outline: 0 !important;
}

a:hover {
  color: #7289DA;
}

.textHeaderl {
  color: white;
}

.textHeaderd {
  color: #2C2F33;
}

.textLogo_light {
  width: 60%;
}

.icon_light {
  font-size: 100px !important;
  text-align: center;
  color: white;
}


/*Project Page Styling*/

.project {
  background: #2C2F33;
}

.card-reveal {
  background: #2C2F33 !important;
}

.card-title {
  color: white !important;
}

.card-content>p>a {
  color: #7289DA !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-content>p>a:hover {
  color: #2C2F33 !important;
}

#proj1bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/proj1/bk.jpg');
  background-position: center;
  height: 256px;
}

#proj1logo {
  padding-top: 48px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 350px;
}

#proj2bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/proj2/bk.jpg');
  background-position: bottom;
  height: 256px;
}

#proj2logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 38px;
  color: white;
  padding-top: 100px;
}


/*Hackathons Page Styling*/

.hackathon {
  color: white;
  position: relative;
  margin-bottom: 42px;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  background: #7289DA;
}

.hackHead {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 18%;
}

.hackHead>img {
  object-fit: cover;
  height: 100%;
}

.card-action>a {
  color: white !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-action>a:hover {
  color: #2C2F33 !important;
}

.hackTextDate {
  color: #2C2F33;
}

#hackbcaivbk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/hackathons/hackbcaiv/bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
}

.hacklogo {
  width: 128px !important;
  padding-top: 64px;
  margin-left: 50%;
  transform: translate(-50%);
}


/*Contacts Page Styling*/

.emaildiv{
  padding-top: 15vh;
}

.emailcontact{
  font-size: 64px !important;
}

code {
  color: white;
  background: #2C2F33;
  transition-duration: 0.2s;
}

code:hover {
  background: #7289DA;
}


/*Footer Styling*/

.icon {
  padding: 12px;
  fill: orange;
}

.icon:hover path {
  fill: #7289DA;
}

.footer {
  height: 10vh;
  padding-top: 32px;
  background: white;
}

.footerText {
  font-size: 14px;
  font-family: 'Roboto:400', sans-serif !important;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #2C2F33;
}

.parrot {
  width: 14px;
  height: 10px;
}
