html {
  scroll-behavior: smooth;
}

.navbar {
  background: transparent;
  box-shadow: none;
  position: fixed;
  z-index: 9999;
}

.modal-content {
  box-shadow: none !important;
  border: none !important;
}

body {
  background: #23272A;
  width: 100%;
  z-index: 9000;
}


/*Header Styling*/

.head {
  padding-left: 30px;
}

.coverTitle {
  position: absolute;
  color: white;
  top: 50vh;
  transform: translateY(-50%);
}

#headerTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  line-height: 0.2;
}

.headerSubtext {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.hamburger {
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hamburger.scroll {
  color: #99AAB5;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.hamburger:hover {
  color: #7289DA;
}

.background {
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  overflow: hidden;
}


/*Link Styling*/

a,
a:visited,
a:active {
  text-decoration: none !important;
  color: white;
}

.sideLink {
  color: #23272A !important;
  font-family: 'Roboto', sans-serif !important;
}

.sideLink:hover {
  color: #7289DA !important;
}

.side_icon {
  color: #23272A!important;
}

.divider {
  background: #23272A;
}


/*Body Styling*/

#home {
  height: 100vh;
}

#starsContainer {
  overflow: hidden;
  height: 100vh;
}

#aboutme,
#projects,
#hackathons {
  max-height: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  overflow: hidden;
}

#contact {
  max-height: auto;
  padding-top: 15vh;
  overflow: hidden;
}

#projects,
#contact {
  background: white;
}

#aboutme,
#hackathons,
.sidebarbk {
  background: #2C2F33;
}

.side-nav {
  background: white;
  border-radius: 0;
  border-width: 0;
}

.headDivider {
  margin-bottom: 32px;
  height: 1px;
  background: #7289DA;
  width: 100vw;
}

.contentDivider {
  width: 50%;
  margin-left: 25%;
}


/*Scroll Icon*/


/*https://codepen.io/JonasNoldeDev/pen/BKMXwV*/

.scroll-section {
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translateX(-50%);
  cursor: pointer;
}

@keyframes scroll_1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.6em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.6em);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .8em;
  height: 1em;
  width: .15em;
  margin-left: -.075em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3.5em;
  width: 2em;
  border: .15em solid #fff;
  border-radius: 2em;
}


/*Slide In Animation*/

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


/*Text Formatting/Styling*/

.header1 {
  color: #7289DA;
  font-size: 24px;
}

.text_light {
  color: #99AAB5;
  font-size: 16px;
}

a {
  color: white;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  text-decoration: none !important;
  outline: 0 !important;
}

a:hover {
  color: #7289DA;
}

.textHeaderl {
  color: white;
  font-size: 40px;
}

.textHeaderd {
  color: #2C2F33;
  font-size: 40px;
}

.textLogo_light {
  width: 60%;
}

.icon_light {
  font-size: 100px !important;
  text-align: center;
  color: white;
}

.modal-content .textHeaderd {
  font-size: 24px;
}

.modal-content p a {
  color: #7289DA;
}

.modal-content p a:hover {
  color: #2C2F33;
}

/*Project Page Styling*/

.project {
  background: #2C2F33;
}

.card-reveal {
  background: #2C2F33 !important;
}

.card-title {
  color: white !important;
}

.card-content p a {
  color: #7289DA !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-content p a:hover {
  color: #2C2F33 !important;
}

#proj1bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/proj1/bk.jpg');
  background-position: center;
  height: 256px;
}

#proj1logo {
  padding-top: 48px;
  margin-left: 50%;
  transform: translate(-50%);
  width: 350px;
}

#proj2bk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/proj2/bk.jpg');
  background-position: bottom;
  height: 256px;
}

#proj2logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 38px;
  color: white;
  padding-top: 100px;
}


/*Hackathons Page Styling*/

.hackathon {
  color: white;
  position: relative;
  margin-bottom: 42px;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  background: #7289DA;
}

.hackHead {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 18%;
}

.hackHead>img {
  object-fit: cover;
  height: 100%;
}

.card-action>a {
  color: white !important;
  transition-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
}

.card-action>a:hover {
  color: #2C2F33 !important;
}

.hackTextDate {
  color: #2C2F33 !important;
}

#hackbcaivbk {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/hackathons/hackbcaiv/bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;
}

.hacklogo {
  width: 128px !important;
  padding-top: 64px;
  margin-left: 50%;
  transform: translate(-50%);
}


/*Contacts Page Styling*/

.contactCard {
  background: #2C2F33;
  max-width: 320px;
  margin-right: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.contactContent {
  width: auto;
  height: auto;
  padding: 0px 20px 25px 20px;
  display: block;
  float: none;
}

.contactBio {
  padding-top: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.contactAvatar {
  width: 128px !important;
  border-radius: 100% !important;
  margin-left: 52%;
  transform: translateX(-50%);
}

.contactName {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #7289DA !important;
  padding-top: 20px;
}

.contactBlurb,
.contactEmail,
.contactName {
  text-align: center !important;
}

.contactEmail {
  color: #99AAB5 !important;
  padding-bottom: 16px;
}

.contactBlurb {
  color: white !important;
  max-width: 215px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.social {
  width: 128px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.social li {
  list-style: none;
  box-sizing: border-box;
  float: left;
  width: 25%;
}

.social li a img {
  height: 24px;
  width: 24px;
}


/*Footer Styling*/

.footer {
  height: 10vh;
  padding-top: 32px;
  background: white;
}

.footerText {
  font-size: 14px;
  font-family: 'Roboto:400', sans-serif !important;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #2C2F33;
}

.parrot {
  width: 14px;
  height: 10px;
}